.image-result {
  text-align: center;
  margin-bottom: 1rem;
}

.image-result img {
  align-self: center;
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
}

.text-status {
  text-align: center;
  margin-bottom: 1rem;
  font-style: italic;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.row {
  display: flex;
  align-items: center;
  gap: 15px;
}

.spread {
  justify-content: space-between;
}

.pad-bottom {
  padding-bottom: 30px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-controls {
  justify-content: center;
  gap: 20px;
}

.hidden {
  display: none !important;
}

.no-scroll {
  overflow: hidden !important;
}

.center-icon {
  padding-top: 11.5px;
  padding-bottom: 11.5px;
}