button {
  background-color: var(--primary);
  border: none;
  color: white;
  padding: 12px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.25s ease;
  flex: 1;
}

button:hover {
  background-color: var(--primary-dark);
}

input[type="text"],
input[type="number"] {
  padding: 10px 12px;
  font-size: 1rem;
  color: var(--text);
  border: 1.5px solid var(--border);
  background-color: var(--background);
  border-radius: 6px;
  width: 100%;
  transition: border-color 0.3s ease;
}

input[type="text"]:hover,
input[type="number"]:hover {
  border: 1.5px solid var(--primary);
  transition: border-color 0.3s ease;
}


input[type="text"]:focus,
input[type="number"]:focus {
  border-color: var(--primary);
  outline: none;
}

input[type="checkbox"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid var(--border);
  border-radius: 5px;
  background-color: var(--background);
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
}

input[type="checkbox"]:checked {
  background-color: var(--primary);
  border-color: var(--primary);
}

input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  left: 30%;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}


label {
  color: var(--text);
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
}

.dropdown {
  font-size: 1rem;
  padding: 10px 12px;
  background-color: var(--background);   
  color: var(--text);             
  border: 1.5px solid var(--border);   
  border-radius: 5px;         
  padding: 8px 12px;          
  font-size: 16px;            
  cursor: pointer;            
  transition: border-color 0.3s ease;
}

.dropdown:hover {
  border-color: var(--primary);    
}

.dropdown:focus {
  outline: none;              
  border-color: var(--primary);     
}
