@media (max-width: 600px) {
  .main-controls {
    flex-direction: column;
  }
  
  .row {
    flex-direction: column;
    align-items: stretch;
  }
  
  button {
    flex: none;
    width: 100%;
  }
}

@media (max-width: 800px) {
  .main-controls {
    flex-direction: column;
  }
  .main-controls > button {
    width: 100%;
  }
}